@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  visibility: visible;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid #bcb9b6;
  border-radius: 100%;
  border-top: 3px solid #252323;
  font-size: 40px;
  animation: spin 1s linear infinite;
}
