.page {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.backLink {
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.name {
  font-size: 18px;
}

.vendor {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.media {
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaItem {
  margin-bottom: 20px;
}

.image {
  width: 100%;
}

