.productWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.productMedia {
  width: 280px;
  height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  height: 100%;
  width: auto;
}

.information {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.productVendor {
  font-size: 14px;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.link {
  border-radius: 5px;
  background-color: var(--body-background-color);
  color: black;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s linear;
  margin-top: 10px;

  &:hover {
    text-decoration: none;
    background-color: #cbccd9;
  }
}
