.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: black;
}

.link {
  display: flex;
  width: 160px;
  height: 60px;
  border-radius: 30px;
  color: black;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.15s linear;

  &:hover {
    text-decoration: none;
    background-color: #f1f1f1;
  }
}
