.searchBox {
  border-radius: 3px;
  background-color: white;
  width: 400px;
  height: 40px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

.searchIcon {
  box-sizing: border-box;
  float: left;
  width: 32px;
  height: 40px;
  color: #999;
  font-size: 1.3em;
  padding: 7px 15px;
}

.searchInput {
  box-sizing: border-box;
  width: 368px;
  height: 40px;
  float: right;
  background-color: transparent;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1em;
  position: relative;
  outline: 0;
  color: black;
  font-weight: bold;
}
