.inputsBlock {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list {
  margin: 30px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
