.selectBox {
  border-radius: 3px;
  background-color: white;
  width: 250px;
  height: 40px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
}

.selectIcon {
  box-sizing: border-box;
  position: absolute;
  right: 15px;
  top: 4px;
  color: #999;
  font-size: 1.3em;
  pointer-events: none;
}

.selectInput {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  float: right;
  background-color: transparent;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1em;
  position: relative;
  outline: 0;
  color: black;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
}
