.promotion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.image {
  width: 280px;
  height: 158px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    height: 100%;
  }
}

.text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
